<div class="row">
    <div class="col-md-12">
        <br>
            <h2>Courses
                <a href="/courses/add" class="btn btn-success float-right">Add New Course</a>
            </h2>
        <hr />
        <table class="table table-responsive">
            <tr>
                <th>Course Code</th>
                <th>Course Description</th>
                <th></th>
            </tr>
            {{#each courses}}
                <tr>
                    <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                    <td><a href="/students?course={{courseId}}">{{courseDescription}}</a></td>
                    <td><a class="btn btn-danger" href="/course/delete/{{courseId}}">remove</a></td>
                </tr>
            {{/each}}
            {{#unless courses}}
                <strong>{{message}}</strong>
            {{/unless}}
        </table>
    </div>
</div>